# Paris roofs

## Analysis of apartments in Paris

A project analyzing apartments in Paris. The `csv` file containing the raw data can be found at [kaggle.com](https://www.kaggle.com/datasets/mssmartypants/paris-housing-price-prediction)

### Import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### DataFrame

In [2]:
df0 = pd.read_csv("ParisHousing.csv", index_col=False)

Droping `isNewBuilt` column & rename columns (for matplotlib purpose)

In [3]:
df0.drop('isNewBuilt', inplace=True, axis=1)
df0.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,0,8435,2429,292,1,4,7055052.0

In [4]:
df = df0.rename(columns={"squareMeters": "Metry_kwadratowe",
                   "numberOfRooms": "Liczba_pokoi",
                   "hasYard": "Podworko",
                   "hasPool": "Basen",
                   "floors": "Pietra",
                   "cityCode": "Kod_pocztowy",
                   "cityPartRange": "Prestiz",
                   "numPrevOwners": "Liczba_poprzednich_wlascicieli",
                   "made": "Zbudowany",
                   "hasStormProtector": "Instalacja_odgromowa",
                   "basement": "Piwnica",
                   "attic": "Strych",
                   "garage": "Garaz",
                   "hasStorageRoom": "Magazyn",
                   "hasGuestRoom": "Goscinny",
                   "price": "Cena"})

In [5]:
df.isna().sum()

Metry_kwadratowe                  0
Liczba_pokoi                      0
Podworko                          0
Basen                             0
Pietra                            0
Kod_pocztowy                      0
Prestiz                           0
Liczba_poprzednich_wlascicieli    0
Zbudowany                         0
Instalacja_odgromowa              0
Piwnica                           0
Strych                            0
Garaz                             0
Magazyn                           0
Goscinny                          0
Cena                              0
dtype: int64

In [6]:
df.fillna(0, inplace=True)

### Data check

In [7]:
print(f'Shape: {df.shape}\n\n{df.index}')

Shape: (10000, 16)

RangeIndex(start=0, stop=10000, step=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Metry_kwadratowe                10000 non-null  int64
 1   Liczba_pokoi                    10000 non-null  int64
 2   Podworko                        10000 non-null  int64
 3   Basen                           10000 non-null  int64
 4   Pietra                          10000 non-null  int64
 5   Kod_pocztowy                    10000 non-null  int64
 6   Prestiz                         10000 non-null  int64
 7   Liczba_poprzednich_wlascicieli  10000 non-null  int64
 8   Zbudowany                       10000 non-null  int64
 9   Instalacja_odgromowa            10000 non-null  int64
 10  Piwnica                         10000 non-null  int64
 11  Strych                          10000 non-null  int64
 12  Garaz                           10000 non-null  int64
 13  Magazyn                         10000 non-null  int64
 14  Goscinny                        10000 non-null  int64
 15  Cena                            10000 non-null  float64
dtypes: float64(1), int64(15)
memory usage: 1.2 MB

In [9]:
analysis=df.describe()
analysis

,Metry_kwadratowe,Liczba_pokoi,Podworko,Basen,Pietra,Kod_pocztowy,Prestiz,Liczba_poprzednich_wlascicieli,Zbudowany,Instalacja_odgromowa,Piwnica,Strych,Garaz,Magazyn,Goscinny,Cena
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

### Data normalization
* Square Meters

In [10]:
mean_meters = analysis.loc['mean','Metry_kwadratowe']
min_meters = round(mean_meters - analysis.loc['std','Metry_kwadratowe'],0)
max_meters = round(mean_meters+ analysis.loc['std','Metry_kwadratowe'],0)

print(f'Square meters to remove: \n - under: {min_meters//2}, \n - above: {max_meters*2}')

Square meters to remove:
 - under: 10548.0,
 - above: 157290.0

In [11]:
df = df[(df.Metry_kwadratowe > min_meters//2) & (df.Metry_kwadratowe < max_meters*2)]
#df

* Number of rooms

In [12]:
mean_rooms = analysis.loc['mean','Liczba_pokoi']
min_rooms = round(mean_rooms - analysis.loc['std','Liczba_pokoi'],0)
max_rooms = round(mean_rooms+ analysis.loc['std','Liczba_pokoi'],0)

print(f'Number of rooms to remove: \n - under: {min_rooms//2}')

Number of rooms to remove:
 - under: 11.0

In [13]:
df = df[(df.Liczba_pokoi > min_rooms//2)]
#df.tail(50)

* Floors

In [14]:
mean_floors = analysis.loc['mean','Pietra']
min_floors = round(mean_floors - analysis.loc['std','Pietra'],0)
max_floors = round(mean_floors+ analysis.loc['std','Pietra'],0)

print(f'Floors to remove: \n - under: {min_floors//2}, \n - above: {max_floors*2}')

Floors to remove:
 - under: 10.0,
 - above: 158.0

In [15]:
df = df[(df.Pietra > min_floors//2)]
#df.head(50)

#### Previous owners & Made - without normalization (narrow range)

* Basement

In [16]:
mean_basement = analysis.loc['mean','Piwnica']
min_basement = round(mean_basement - analysis.loc['std','Piwnica'],0)
max_basement = round(mean_basement+ analysis.loc['std','Piwnica'],0)

print(f'Basement to remove: \n - under: {min_basement//2}, \n - above: {max_basement*2} \n and if Basement > Square_Meters')

Basement to remove:
 - under: 1078.0,
 - above: 15820.0
 and if Basement > Square_Meters

In [17]:
df = df[(df.Piwnica > min_basement//2) & (df.Piwnica < df.Metry_kwadratowe)]
#df.head(50)

* Attic

In [18]:
mean_attic = analysis.loc['mean','Strych']
min_attic = round(mean_attic - analysis.loc['std','Strych'],0)
max_attic = round(mean_attic + analysis.loc['std','Strych'],0)

print(f'Attic to remove: \n - under: {min_attic//2}, \n - above: {max_attic*2} \n and if Attic > Square_Meters')

Attic to remove:
 - under: 1067.0,
 - above: 15844.0
 and if Attic > Square_Meters

In [19]:
df = df[(df.Strych > min_attic//2) & (df.Strych < df.Metry_kwadratowe)]
#df.head(50)

* garage

In [20]:
mean_garage = analysis.loc['mean','Garaz']
min_garage = round(mean_garage - analysis.loc['std','Garaz'],0)
max_garage = round(mean_garage + analysis.loc['std','Garaz'],0)

print(f'Garage to remove: \n - under: {min_garage//2}, \n - above: {max_garage*2} \n and if jesli Garage > Square_Meters')

Garage to remove:
 - under: 145.0,
 - above: 1630.0
 and if jesli Garage > Square_Meters

In [21]:
df = df[(df.Garaz > min_garage//2) & (df.Garaz < df.Metry_kwadratowe)]
#df.head(50)

#### Reseting index & printing shape

In [22]:
df = df.reset_index()

#### Export DataFrame to new `csv` file

In [23]:
df.to_csv("PariCleaned.csv", index=False)

In [24]:
print(f'Shape: {df.shape}')

Shape: (5437, 17)