# Paris roofs

## Analysis of apartments in Paris

A project analyzing apartments in Paris. The `csv` file containing the raw data can be found at [kaggle.com](https://www.kaggle.com/datasets/mssmartypants/paris-housing-price-prediction)

### Import

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### DataFrame

In [3]:
df0 = pd.read_csv("ParisHousing.csv", index_col=False)

In [4]:
df = df0.rename(columns={"squareMeters": "Metry_kwadratowe",
                   "numberOfRooms": "Liczba_pokoi",
                   "hasYard": "Podworko",
                   "hasPool": "Basen",
                   "floors": "Pietra",
                   "cityCode": "Kod_pocztowy",
                   "cityPartRange": "Prestiz",
                   "numPrevOwners": "Liczba_poprzednich_wlascicieli",
                   "made": "Zdudowany",
                   "isNewBuilt": "Nowy_budynek",
                   "hasStormProtector": "Instalacja_odgromowa",
                   "basement": "Piwnica",
                   "attic": "Strych",
                   "garage": "Garaz",
                   "hasStorageRoom": "Magazyn",
                   "hasGuestRoom": "Goscinny",
                   "price": "Cena"})

In [5]:
df.isna().sum()

Metry_kwadratowe                  0
Liczba_pokoi                      0
Podworko                          0
Basen                             0
Pietra                            0
Kod_pocztowy                      0
Prestiz                           0
Liczba_poprzednich_wlascicieli    0
Zdudowany                         0
Nowy_budynek                      0
Instalacja_odgromowa              0
Piwnica                           0
Strych                            0
Garaz                             0
Magazyn                           0
Goscinny                          0
Cena                              0
dtype: int64

In [6]:
df.fillna(0, inplace=True)

### Data check

In [7]:
print(f'Shape: {df.shape}\n\n{df.index}')

Shape: (10000, 17)

RangeIndex(start=0, stop=10000, step=1)

In [8]:
df.head(4)

,Metry_kwadratowe,Liczba_pokoi,Podworko,Basen,Pietra,Kod_pocztowy,Prestiz,Liczba_poprzednich_wlascicieli,Zdudowany,Nowy_budynek,Instalacja_odgromowa,Piwnica,Strych,Garaz,Magazyn,Goscinny,Cena
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Metry_kwadratowe                10000 non-null  int64
 1   Liczba_pokoi                    10000 non-null  int64
 2   Podworko                        10000 non-null  int64
 3   Basen                           10000 non-null  int64
 4   Pietra                          10000 non-null  int64
 5   Kod_pocztowy                    10000 non-null  int64
 6   Prestiz                         10000 non-null  int64
 7   Liczba_poprzednich_wlascicieli  10000 non-null  int64
 8   Zdudowany                       10000 non-null  int64
 9   Nowy_budynek                    10000 non-null  int64
 10  Instalacja_odgromowa            10000 non-null  int64
 11  Piwnica                         10000 non-null  int64
 12  Strych                          10000 non-null  int64
 13  Garaz                           10000 non-null  int64
 14  Magazyn                         10000 non-null  int64
 15  Goscinny                        10000 non-null  int64
 16  Cena                            10000 non-null  float64
dtypes: float64(1), int64(16)
memory usage: 1.3 MB

In [10]:
analysis=df.describe()
analysis

,Metry_kwadratowe,Liczba_pokoi,Podworko,Basen,Pietra,Kod_pocztowy,Prestiz,Liczba_poprzednich_wlascicieli,Zdudowany,Nowy_budynek,Instalacja_odgromowa,Piwnica,Strych,Garaz,Magazyn,Goscinny,Cena
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

### Data normalization

In [28]:
### Metry_kwadratowe
mean_meters = analysis.loc['mean','Metry_kwadratowe']
min_meters = round(mean_meters - analysis.loc['std','Metry_kwadratowe'],0)
max_meters = round(mean_meters+ analysis.loc['std','Metry_kwadratowe'],0)

print(f'Metry_kwadratowe do usunięcia: \n - poniżej: {min_meters//2}, \n - powyżej: {max_meters*2}')

Metry_kwadratowe do usunięcia:
 - poniżej: 10548.0,
 - powyżej: 157290.0

In [21]:
### Liczba_pokoi
mean_rooms = analysis.loc['mean','Liczba_pokoi']
min_rooms = round(mean_rooms - analysis.loc['std','Liczba_pokoi'],0)
max_rooms = round(mean_rooms+ analysis.loc['std','Liczba_pokoi'],0)

print(f'Liczba_pokoi do usunięcia: \n - poniżej: {min_rooms//2}')

Liczba_pokoi do usunięcia:
 - poniżej: 11.0

In [26]:
### Pietra
mean_floors = analysis.loc['mean','Pietra']
min_floors = round(mean_floors - analysis.loc['std','Pietra'],0)
max_floors = round(mean_floors+ analysis.loc['std','Pietra'],0)

print(f'Pietra do usunięcia: \n - poniżej: {min_floors//2}, \n - powyżej: {max_floors*2}')

Pietra do usunięcia:
 - poniżej: 10.0,
 - powyżej: 158.0

In [ ]:
##Liczba_poprzednich_wlascicieli and Zbudowany without normalization (narrow range)

In [ ]:
  "basement": "Piwnica",
                   "attic": "Strych",
                   "garage": "Garaz",

In [29]:
### Piwnica
mean_basement = analysis.loc['mean','Piwnica']
min_basement = round(mean_basement - analysis.loc['std','Piwnica'],0)
max_basement = round(mean_basement+ analysis.loc['std','Piwnica'],0)

print(f'Piwnica do usunięcia: \n - poniżej: {min_basement//2}, \n - powyżej: {max_basement*2}')

Piwnica do usunięcia:
 - poniżej: 1078.0,
 - powyżej: 15820.0

In [ ]:
### Strych

In [ ]:
### Garaz